<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waste Management System</title>
</head>

<body>

    <body>
        <div class="headerr">
            <%- include("../includes/header.ejs") %>
        </div>
        <div>
            <%- body %>
        </div>
        <div class="footerr">
            <%- include("../includes/footer.ejs") %>
        </div>

    </body>

</html>