<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="container">
            <h1 class="mt-5 mb-4">Forgot Password</h1>
            <form action="/auth/reset-password/confirm" method="post">
                <div class="form-group">
                    <label for="email">Enter Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="password">Enter New Password</label>
                    <input type="password" name="password" id="password" class="form-control"
                        placeholder="Enter Password" required>
                </div>
                <div class="form-group">
                    <label for="otp">Enter Correct OTP</label>
                    <input type="text" name="otp" id="otp" class="form-control" placeholder="Enter OTP" required>
                </div>
                <button type="submit" class="btn btn-primary">Verify OTP code</button>
            </form>
            <div style="margin-bottom: 100px"></div>
        </div>
    </body>