<% layout("/layouts/boilerplate.ejs") %>

    <body>

        <div class="container">
            <div class="profile-container text-center">
                <h2>User Profile</h2>
                <div class="image">
                    <img class="rounded-circle" style="height: 100px; width: 100px"
                        src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=360&t=st=1711860571~exp=1711861171~hmac=4f6794cfa013617ba45ce7b2d216996b5c7c2631371bbd64e5a344de84c77809"
                        alt="User Profile">
                </div>
                <div class="profile-info">
                    <p><strong>Name:</strong>
                        <%= user.name %>
                    </p>
                </div>
                <div class="profile-info">
                    <p><strong>Email:</strong>
                        <%= user.email %>
                    </p>
                </div>
                <div class="profile-info">
                    <p><strong>Role:</strong>
                        <% if (user.role===1) { %>
                            Admin System
                            <% } else if (user.role===2) { %>
                                STS Manager
                                <% } else if (user.role===3) { %>
                                    Landfill Manager
                                    <% } else if (user.role===4) { %>
                                        Unassigned User
                                        <% } else { %>
                                            Unknown Role
                                            <% } %>
                    </p>
                </div>
                <br>
                <form action="/users/edit/<%= user._id %>" method="get">
                    <button type="submit" class="btn btn-primary">Edit profile</button>
                </form>
                <br>
                <form action="/auth/change-password" method="get">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
            <div style="margin-bottom: 165px;"></div>
        </div>

    </body>