<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="container">
            <h1>Waste Collection Information</h1>
            <form action="/waste_collection/sts_maneger" method="POST" id="userInfoForm">
                <!-- <div class="form-group">
                    <label for="sts_id">STS station</label>
                    <input type="text" class="form-control" id="sts_id" name="sts_id" required>
                </div> -->
                <div class="form-group">
                    <label for="vehile_id">Vehicle ID</label>
                    <input type="text" class="form-control" id="vehile_id" name="vehile_id" required>
                </div>
                <div class="form-group">
                    <label for="waste_volume">Waste (ton)</label>
                    <input type="number" class="form-control" id="waste_volume" name="waste_volume" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <h1>List of Waste Collection</h1>
            <table id="dataTable" class="table">
                <thead>
                    <tr>
                        <th>STS ID</th>
                        <th>Vehicle Id</th>
                        <th>Vehicle Type</th>
                        <th>Waste Volume</th>
                        <th>Departure Time</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <script>
            window.onload = function () {
                //transport
                fetch('/waste_collection/sts_maneger')
                    .then(response => response.json())
                    .then(data => {
                        const tableBody = document.querySelector('#dataTable tbody');
                        data.forEach(row => {
                            const tr = document.createElement('tr');
                            tr.innerHTML = `
                            <td>${row.sts_id}</td>
                            <td>${row.vehile_id}</td>
                            <td>${row.vehile_type}</td>
                            <td>${row.waste_volume}</td>
                            <td>${new Date(row.departure_time).toLocaleString()}</td>`;
                            tableBody.appendChild(tr);
                        });
                    })
                    .catch(error => console.error('Error fetching data:', error));
            }
        </script>
    </body>