<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h3 style="text-align: center; margin-top: 20px;">System Admin Page</h3>
        <div class="container" style="display: flex; margin-top: 20px; height: 70vh;">
            <form action="/users/createUser" method="get" style="margin-left: 7%;">
                <button type="submit" class="btn btn-primary">Create New User</button>
            </form>
            <form action="/vehicles/addVehicle" method="GET" style="margin-left: 5%;">
                <button type="submit" class="btn btn-secondary">Add Vehicle</button>
            </form>
            <form action="/sts/createSts" method="GET" style="margin-left: 5%;">
                <button type="submit" class="btn btn-secondary">Crate STS</button>
            </form>
            <form action="/landfill_transfer/createLandFill" method="GET" style="margin-left: 5%;">
                <button type="submit" class="btn btn-secondary">Crate LandFill</button>
            </form>
            <form action="/users" method="GET" style="margin-left: 5%;">
                <button type="submit" class="btn btn-secondary">Show All Users</button>
            </form>
            <form action="/users/roles" method="GET" style="margin-left: 5%;">
                <button type="submit" class="btn btn-info">Show All Available Roles</button>
            </form>
        </div>

    </body>