<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="container">
            <h1 class="text-center">User List</h1>

            <!-- Add a button to create a new user -->
            <div class="text-left mb-4">
                <form action="/users/createUser" method="get">
                    <button class="btn btn-primary">Create User</button>
                </form>
            </div>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Action</th>
                        <!-- Add a column for the "Details" button -->
                    </tr>
                </thead>
                <tbody id="userTableBody">
                    <!-- User data will be dynamically inserted here -->
                </tbody>
            </table>
        </div>

        <script>
            // Function to handle navigation to the specified URL
            function navigateTo(url) {
                window.location.href = url;
            }

            // Function to handle button click event to view user details
            function viewUserDetails(userId) {
                window.location.href = "/users/" + userId;
            }

            // Fetch user data from the server
            function checkUser(roleValue) {
                switch (roleValue) {
                    case 1:
                        return "System Admin";
                    case 2:
                        return "STS Manager";
                    case 3:
                        return "Landfill Manager";
                    default:
                        return "Unassigned User";
                }
            }
            fetch("/users/fetch")
                .then((response) => response.json())
                .then((users) => {
                    const userTableBody = document.getElementById("userTableBody");
                    users.forEach((user) => {
                        const row = document.createElement("tr");
                        row.innerHTML = `
                        <td>${user.name}</td>
                        <td>${user.email}</td>
                        <td>${checkUser(user.role)}</td>
                        <td><button class="btn btn-secondary" onclick="viewUserDetails('${user._id
                            }')">Details</button></td> <!-- Add a button for each user -->
                    `;
                        userTableBody.appendChild(row);
                    });
                })
                .catch((error) => console.error("Error fetching users:", error));
        </script>
    </body>