<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
        }

        .container p {
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <footer>
        <div class="container">
            <p>&copy; 2024 Waste Management System. All rights reserved.</p>
            <p>Designed by BSMRSTU FUSHINGBRILLIANCE</p>
        </div>
    </footer>
</body>

</html>